<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HuckU"
        tools:targetApi="31">
        <activity
            android:name=".FirebaseWriteActivity"
            android:exported="false" />
        <activity
            android:name=".FirebaseReadActivity"
            android:exported="false" />
        <activity
            android:name=".FirebaseActivity"
            android:exported="true"></activity>
        <activity
            android:name=".EmptylActivity"
            android:exported="false" />
        <activity
            android:name=".EmptyActivity"
            android:exported="false" />
        <activity
            android:name=".activity_map2l"
            android:exported="true" />
        <activity
            android:name=".activity_map2r"
            android:exported="true" />
        <activity
            android:name=".activity_icon"
            android:exported="true" />
        <activity
            android:name=".activity_icon2"
            android:exported="true" />
        <activity
            android:name=".activity_iconE"
            android:exported="true" />
        <activity
            android:name=".GenerateQRCodeActivity"
            android:exported="true" />
        <activity
            android:name=".FriendActivity"
            android:exported="true" />
        <activity
            android:name=".ConfirmActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CameraActivity"
            android:exported="true" />
        <activity
            android:name=".ViewActivity"
            android:exported="true" />
        <activity
            android:name=".MapActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SettingProfActivity"
            android:exported="true" />
    </application>

</manifest>